/* @font-face {
    font-family: 'MyWebFonts';
    src: url('../assets/index/GlitchDemoRegular-2Oave.ttf') format('truetype');
} */
:root {
    --dark-mode: 0;
    --bg-color: #bfc74d;
    --text-font-color: #333;
    /* --banner-bg-color: #FADA5E */
    --banner-font-color: #bfc74d;
    /* --banner-font-color: #f8f9fa; */
    --banner-bg-color: #333;
}
@font-face {
    font-family: space-font;
    src: url("../assets/myfont.otf") ;
}

@font-face {
    font-family: space-font;
    font-weight: bold;
    src: url("../assets/myfont.otf") ;
}
* {
    font-family: 'Garamond', sans-serif;
    margin: 0;
    color: var(--text-font-color);
    transition: 0.3s;
}
body{
    background-color: var(--bg-color);
}
h1{
    font-family: 'space-font', sans-serif;
    font-size: 60px;
    text-shadow: 3px 3px #424141;
}

.landing-page{
    display: grid;
    grid-template-columns: 45vw 55vw;
    transition: 1s;
}
.auto-center{
    display: flex;
    align-items: center;
}

/* header section */
.wrapper-left {
    display: flex;
    justify-content: start;
    width: 100%;
}
#switch-mode{
    display: flex;
    align-items: center;
    background-color: #a9a5a5;
    width: 60px;
    height: 29px;
    border-radius: 20px;
    border: solid 0.5px rgb(215, 202, 202);
}
#toggle-span{
    border-radius: 50%;
    background-color: #333;
    width: 27px;
    height: 27px;
    cursor: pointer;
}
/* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #353333;
    transition: 0.4s;
    border-radius: 34px;
} */

/* .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
} */

/* input:checked+.slider {
    background-color: #bfc74d;
} */

/* input:checked+.slider:before {
    transform: translateX(26px);
} */


.landing-page > header {
    /* background-color: yellow; */
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-page > header > p {
    margin-top: 6px;
}
picture > img {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.app-logo {
    height: 50vh;
    pointer-events: none;
    filter: contrast(65%);
    /* background-color: blueviolet; */
}
@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar {
    background-color: var(--banner-bg-color);
    width: 350px;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh;
    border-radius: 5px;

}
.navbar a {
    color: var(--banner-font-color);
    text-decoration: none;
    font-size: 3.9vh;
}

/* main section */
@media only screen and (max-width:109vh){
    .landing-page{
        grid-template-columns: 1fr;
    }
        
}

.landing-page>main {
    /* background-color: #eeeded; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.menubar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 11vh);
    grid-gap: 3px;
    padding-top: 5vh;
    padding-left: 2vh;
}
@media only screen and (max-width:120vh) and (min-width:109vh) {
    .menubar {
        display: grid;
        grid-template-columns: 1fr;
        /* background-color: #d1d36d; */
        grid-template-rows: repeat(9, 20vh);
    }
    .menubar > div {
        grid-column: span 1;
        grid-row: span 1;
    }
 
}
@media only screen and (max-width:600px) {
    .menubar {
            display: grid;
            grid-template-columns: 1fr;
            /* background-color: #d1d36d; */
            grid-template-rows: repeat(9, 20vh);
        } 
    .menubar>div {
        grid-column: span 1;
        grid-row: span 1;
    }
    .app-logo{
        height: 30vh;
    }
}

figure > img {
    /* width: 100%; */
    height: 19vh;
    width: 19vh;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgb(255, 255, 255);
}

.menubar > div {
    display: flex;
    justify-content: center;
    /* border: solid 1px; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* align-items: center; */
}

.menubar > div > img {
    width: 100%;
    height: 100%;
}

.grid-square {
    grid-column: span 1;
    grid-row: span 2;
}
.grid-rectangle{
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--banner-bg-color);
    
}
.grid-rectangle > h2 {
    font-size: 8vh;
    color: var(--banner-font-color);
    text-shadow: 3px 3px #424141;
    
}


#grid-block-2{
    background-image: url('../assets/index/artcover/rock-0.png');
    background-size: cover;
}
#grid-block-3 {
    background-image: url('../assets/index/artcover/rock-1.png');
    background-size: cover;
}
#grid-block-5 {
    background-image: url('../assets/index/artcover/dance-0.png');
    background-size: cover;
}
#grid-block-6 {
    background-image: url('../assets/index/artcover/dance-1.png');
    background-size: cover;
}
#grid-block-7 {
    background-image: url('../assets/index/artcover/dance-2.png');
    background-size: cover;
}
#grid-block-9 {
    background-image: url('../assets/index/artcover/punk-0.png');
    background-size: cover;
}


.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.login-form button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}